/* ============================================ *
 * Global Style for Tabs
 * ============================================ */

.chead-ico02 {
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    width: 64px;
    text-align: center;
    transition: all 200ms ease-in 0s;
    border-radius: 50%;
    border: 1px solid #222;
}
.tab-title h3 {
    color: #424242;
    line-height: 1.3;
    margin: 0 0 40px 0;
}
[class*="chead-tabs-"]:after,.resp-tabs-container:after,.resp-tab-container:after {
    clear: both;
    content: ".";
    height: 0px;
    font-size: 0px;
    visibility: hidden;
    display: block;
}
 
/* ============================================ *
 * Common style for TOP tabs
 * ============================================ */

.chead-tabs-top {
    clear: both;
}
.chead-tabs-top ul.resp-tabs-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-left: 1px solid #e8e8e8;
    vertical-align: bottom;
}
.chead-tabs-top .resp-tabs-container {
    padding: 0;
    margin: 0 0 8px;
    clear: both;
    border: 1px solid #e8e8e8;
}
.chead-tabs-top .resp_margin {
    padding: 20px 20px;
}
.chead-tabs-top ul.resp-tabs-list li {
    font-size: 15px;
    margin: 0;
    list-style: none;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin-bottom: -1px;
    float: left;
    position: relative;
    z-index: 1;
    padding: 8px 15px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color ease-in 200ms,color ease-in 200ms;
    -moz-transition: background-color ease-in 200ms,color ease-in 200ms;
    -webkit-transition: background-color ease-in 200ms,color ease-in 200ms;
    -o-transition: background-color ease-in 200ms,color ease-in 200ms;
    -ms-transition: background-color ease-in 200ms,color ease-in 200ms;
    color: #424242;
}
.chead-tabs-top ul.resp-tabs-list li:hover {
    color: #333;
    background: #eeeeee;
}
.chead-tabs-top ul.resp-tabs-list li.resp-tab-active {
    position: relative;
    z-index: 1;
    color: #FFF;
}
.chead-tabs-top ul.resp-tabs-list li.resp-tab-active,.chead-tabs-top ul.resp-tabs-list li.resp-tab-active {
}
.chead-tabs-top ul.resp-tabs-list li.resp-tab-active {
    background-color: #FFF;
    color: #86bc42;
}
.chead-tabs-top h2.resp-accordion, .chead-tabs-top .resp_container {
    display: none;
}

/* ============================================ *
 * Left tab style common
 * ============================================ */ 

.chead-tabs-left .resp_margin {
    padding: 20px 20px;
}
.chead-tabs-left {
    clear: both;
}
.chead-tabs-left .resp-tabs-container {
    padding: 0;
    margin: 0 0 8px;
    border: 1px solid #e8e8e8;
    overflow: auto;
}
.chead-tabs-left ul.resp-tabs-list {
    float: left;
    margin: 0 -1px 0 0;
    padding: 0;
    border-bottom: 1px solid #e8e8e8;
}
.chead-tabs-left ul.resp-tabs-list li {
    font-size: 13px;
    color: #424242;
    margin: 0;
    list-style: none;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    position: relative;
    z-index: 1;
    min-width: 120px;
    padding: 8px 15px;
    white-space: nowrap;
    cursor: pointer;
    text-align: right;
    transition: background-color ease-in 200ms,color ease-in 200ms;
    -moz-transition: background-color ease-in 200ms,color ease-in 200ms;
    -webkit-transition: background-color ease-in 200ms,color ease-in 200ms;
    -o-transition: background-color ease-in 200ms,color ease-in 200ms;
    -ms-transition: background-color ease-in 200ms,color ease-in 200ms;
}
.chead-tabs-left ul.resp-tabs-list li:hover {
    background: #eeeeee;
    color: #333;
}
.chead-tabs-left ul.resp-tabs-list li.resp-tab-active {
    position: relative;
    z-index: 1;
    color: #86bc42;
    background-color: #fff;
}
.chead-tabs-left h2.resp-accordion, .chead-tabs-left .resp_container {
    display: none;
}
@media only screen and (max-width: 768px) {
    [class*="chead-tabs-"] ul.resp-tabs-list {
    display: none;
}
[class*="chead-tabs-"] h2.resp-accordion {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    font-size: 15px;
    font-weight: normal;
    padding: 12px 15px;
    cursor: pointer;
    color: #333;
    margin: 0;
    display: block;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
-o-transition: all ease-in 200ms;
    /* Opera */
-ms-transition: all ease-in 200ms;
    /* IE9? */
}
[class*="chead-tabs-"] h2.resp-accordion:hover {
    background: #eeeeee;
    color: #333333;
}
[class*="chead-tabs-"] h2.resp-tab-active, [class*="chead-tabs-"] h2.resp-tab-active:hover {
    background: #86bc42;
    color: #FFF;
}
[class*="chead-tabs-"] h2.resp-accordion > .fa {
    margin-right: 8px;
}
[class*="chead-tabs-"] .resp-arrow {
    float: right;
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
}
[class*="chead-tabs-"] .resp-arrow:before {
    content: "\f107";
}
[class*="chead-tabs-"] .resp-tab-active .resp-arrow:before {
    content: "\f106";
}
[class*="chead-tabs-"] .resp-tabs-container {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e1e1e1;
}
[class*="chead-tabs-"] .resp-tab-content {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    width: auto !important;
    display: none;
}
[class*="chead-tabs-"] .resp-tabs-container {
    margin-bottom: 8px;
}
}

/* ============================================ *
 * Left tab style-01
 * ============================================ */ 

.chead-tabs-left01 ul.resp-tabs-list {
    border-bottom: 0;
    margin: 0 -1px 0 0;
}
.chead-tabs-left01 ul.resp-tabs-list li {
    background: #f9f9f9;
    padding: 11px 10px 11px 16px;
    line-height: 1.2;
    font-size: 15px;
    border: 0;
    margin: 0;
    min-width: 225px;
    text-align: left;
    border: 1px solid #dcdcdc;
    margin-bottom: -1px;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}
.chead-tabs-left01 ul.resp-tabs-list li.resp-tab-active {
    position: relative;
    border-left: 2px solid #86bc42;
    border-right-color: transparent;
    padding-left: 15px;
    z-index: 2;
}
.chead-tabs-left01 ul.resp-tabs-list li .fa {
    width: 1.2em;
    font-size: 1.2em;
    text-align: center;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 4px;
    display: inline-block;
}
.chead-tabs-left01 .resp_margin {
    padding: 40px 54px;
}
.chead-tabs-left01 .resp-tabs-container {
    -moz-box-shadow: -4px 0px 14px -7px rgba(0,0,0,0.3);
    /* For Firefox3.6+ */
-webkit-box-shadow: -4px 0px 14px -7px rgba(0,0,0,0.3);
    /* For Chrome5+, Safari5+ */
box-shadow: -4px 0px 14px -7px rgba(0,0,0,0.3);
    /* For Latest Opera */
position: relative;
    z-index: 1;
    background-color: #FFF;
}
@media only screen and (max-width: 991px) {
    .chead-tabs-left01 .resp-tabs-container {
    -moz-box-shadow: none;
    /* For Firefox3.6+ */
-webkit-box-shadow: none;
    /* For Chrome5+, Safari5+ */
box-shadow: none;
    /* For Latest Opera */
}
.chead-tabs-left01 .resp_margin {
    padding: 25px;
}
}
 
/* ============================================ *
 * Tab Style-01
 * ============================================ */ 

.chead-tabs-top01 ul.resp-tabs-list {
    border: none;
    margin: 0 0 -1px;
}
.chead-tabs-top01 ul.resp-tabs-list li {
    border: none;
    border-left: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 7px 25px 5px 25px;
    font-size: 16px;
    color: #424242;
    margin: 0;
    background-color: #f5f5f5;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
-o-transition: all ease-in 200ms;
    /* Opera */
-ms-transition: all ease-in 200ms;
    /* IE9? */
}
.chead-tabs-top01 ul.resp-tabs-list li:last-child {
    border-right: 1px solid #dcdcdc;
}
.chead-tabs-top01 ul.resp-tabs-list li .fa {
    margin-right: 10px;
    font-size: 1.1em;
    vertical-align: text-top;
}
.chead-tabs-top01 ul.resp-tabs-list li.resp-tab-active {
    color: #333333;
    background-color: #FFF;
    border-bottom-color: #FFF;
}
.chead-tabs-top01 ul.resp-tabs-list li:after {
    content: "";
    border-bottom: 2px solid #86bc42;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    opacity: 0;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
-o-transition: all ease-in 200ms;
    /* Opera */
-ms-transition: all ease-in 200ms;
    /* IE9? */
}
.chead-tabs-top01 ul.resp-tabs-list li.resp-tab-active:after {
    opacity: 1;
}
.chead-tabs-top01 .resp-tabs-container {
    border-color: #dcdcdc;
    background-color: #FFF;
}
.chead-tabs-top01 .resp_margin {
    padding: 33px 30px;
}
.chead-tabs-top01 h2.resp-accordion {
}
.chead-tabs-top01 h2.resp-accordion:hover {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .chead-tabs-top01 ul.resp-tabs-list li {
    padding: 7px 20px 5px 20px;
}
}

/* ============================================ *
 * Tab Style-02
 * ============================================ */ 

.chead-tabs-top02 ul.resp-tabs-list {
    border: none;
    margin: 0;
}
.chead-tabs-top02 ul.resp-tabs-list li {
    border: none;
    border-right: 1px solid #e8e8e8;
    padding: 8px 25px 6px 25px;
    font-size: 16px;
    color: #424242;
    margin: 0;
    background-color: #f5f5f5;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
-o-transition: all ease-in 200ms;
    /* Opera */
-ms-transition: all ease-in 200ms;
    /* IE9? */
}
.chead-tabs-top02 ul.resp-tabs-list li:last-child {
    border: none;
}
.chead-tabs-top02 ul.resp-tabs-list li.resp-tab-active {
    background-color: #86bc42;
    border-right-color: #86bc42;
    color: #FFF!important;
}
.chead-tabs-top02 .resp-tabs-container {
    border: none;
    background-color: #86bc42;
    color: #FFF;
}
.chead-tabs-top02 .resp_margin {
    padding: 33px 30px;
}
.chead-tabs-top02 h2.resp-accordion {
    color: #FFF;
}
@media only screen and (max-width: 768px) {
    .chead-tabs-top02 h2.resp-accordion, .chead-tabs-top02 h2.resp-accordion:hover {
    background: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.2);
}
.chead-tabs-top02 .resp-tab-content {
    border-color: rgba(255,255,255,0.2);
}
}

/* ============================================ *
 * Tab Style-03
 * ============================================ */ 

.chead-tabs-top03 ul.resp-tabs-list {
    border: none;
}
.chead-tabs-top03 ul.resp-tabs-list li {
    border: none;
    padding: 7px 0px 4px 24px;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
-o-transition: all ease-in 200ms;
    /* Opera */
-ms-transition: all ease-in 200ms;
    /* IE9? */
}
.chead-tabs-top03 ul.resp-tabs-list li:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    border-left: 1px solid #e0e0e0;
    margin-left: 24px;
    margin-bottom: 2px;
}
.chead-tabs-top03 ul.resp-tabs-list li:last-child:after {
    content: "";
    margin-left: 0;
    border: 0;
}
.chead-tabs-top03 ul.resp-tabs-list li:hover,.chead-tabs-top03 ul.resp-tabs-list li.resp-tab-active {
    color: #86bc42;
    border-bottom-color: #86bc42;
    background: none;
}
.chead-tabs-top03 .resp-tabs-container {
    border: none;
    border-top: 1px solid #e0dede;
}
.chead-tabs-top03 .resp_margin {
    padding: 30px 0px 0 0px;
}
@media only screen and (max-width: 768px) {
    .chead-tabs-top03 .resp_margin {
    padding: 15px;
    margin: 0;
}
.chead-tabs-top03 .resp-tabs-container {
    border: none;
    border-bottom: 1px solid #e1e1e1;
}
}

/* ============================================ *
 * Tab Style-04
 * ============================================ */ 
 
.chead-tabs-top04 ul.resp-tabs-list {
    display: block;
    text-align: center;
    border: none;
    border-bottom: 1px solid #e6e6e6;
}
.chead-tabs-top04 ul.resp-tabs-list li {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: transparent!important;
    transition: border-color ease-in 200ms;
    -moz-transition: border-color ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: border-color ease-in 200ms;
    /* Safari and Chrome */
-o-transition: border-color ease-in 200ms;
    /* Opera */
-ms-transition: border-color ease-in 200ms;
    /* IE9? */
text-align: left;
    padding: 0 0 30px;
    margin: 0px 35px -1px;
}
.chead-tabs-top04 ul.resp-tabs-list li .chead-ico02,.chead-tabs-top04 ul.resp-tabs-list li .chead-ico02:hover,.chead-tabs-top04 .resp-accordion .chead-ico02,.chead-tabs-top04 .resp-accordion .chead-ico02:hover {
    color: #383838;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    background-color: transparent;}
.chead-tabs-top04 ul.resp-tabs-list li .box-right,.chead-tabs-top04 .resp-accordion .box-right {
    display: inline-block;
    vertical-align: middle;
}
.chead-tabs-top04 ul.resp-tabs-list li h6,.chead-tabs-top04 .resp-accordion h6 {
    margin: 7px 0 0;
    font-size: 16px;
    color: #383838;
    font-weight: bold;
    transition: color ease-in 200ms;
    -moz-transition: color ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: color ease-in 200ms;
    /* Safari and Chrome */
-o-transition: color ease-in 200ms;
    /* Opera */
-ms-transition: color ease-in 200ms;
    /* IE9? */
}
.chead-tabs-top04 ul.resp-tabs-list li small,.chead-tabs-top04 .resp-accordion li small {
    margin: 0;
    color: #666666;
    font-size: 13px;
}
.chead-tabs-top04 ul.resp-tabs-list li.resp-tab-active {
    border-bottom-color: #86bc42;
}
.chead-tabs-top04 ul.resp-tabs-list li.resp-tab-active h6 {
    color: #86bc42;
}
.chead-tabs-top04 ul.resp-tabs-list li.resp-tab-active .chead-ico02 {
    color: #FFF;
    border-color: #86bc42;
    background-color: #86bc42;
}
.chead-tabs-top04 .resp-tabs-container {
    border: none;
}
.chead-tabs-top04 .resp_margin {
    padding: 60px 0px 0px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .chead-tabs-top04 ul.resp-tabs-list li {
    margin: 0px 15px -1px}
}
@media only screen and (max-width: 991px) {
    .chead-tabs-top04 ul.resp-tabs-list {
    display: none;
}
.chead-tabs-top04 h2.resp-accordion {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    font-size: 15px;
    font-weight: normal;
    padding: 12px 15px;
    cursor: pointer;
    color: #333;
    margin: 0;
    display: block;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
-webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
-o-transition: all ease-in 200ms;
    /* Opera */
-ms-transition: all ease-in 200ms;
    /* IE9? */
}
.chead-tabs-top04 h2.resp-accordion:hover {
    background: #eeeeee;
    color: #333333;
}
.chead-tabs-top04 h2.resp-tab-active, .chead-tabs-top04 h2.resp-tab-active:hover {
    background: #86bc42;
    color: #FFF;
}
.chead-tabs-top04 h2.resp-accordion > .fa {
    margin-right: 8px;
}
.chead-tabs-top04 .resp-arrow {
    float: right;
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
}
.chead-tabs-top04 .resp-arrow:before {
    content: "\f107";
}
.chead-tabs-top04 .resp-tab-active .resp-arrow:before {
    content: "\f106";
}
.chead-tabs-top04 .resp-tabs-container {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e1e1e1;
}
.chead-tabs-top04 .resp-tab-content {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    width: auto !important;
    display: none;
}
.chead-tabs-top04 .resp-tabs-container {
    margin-bottom: 8px;
}
.chead-tabs-top04 .resp-tab-content {
    border-color: #e6e6e6;
}
.chead-tabs-top04 .resp-tabs-container {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
.chead-tabs-top04 .resp-accordion h6 {
    margin: 0;
}
.chead-tabs-top04 .resp-accordion .chead-ico02 {
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
}
.chead-tabs-top04 .resp-arrow {
    top: 14px;
}
.chead-tabs-top04 .resp-accordion.resp-tab-active .chead-ico02,.chead-tabs-top04 .resp-accordion.resp-tab-active .chead-ico02:hover,.chead-tabs-top04 .resp-accordion.resp-tab-active h6,.chead-tabs-top04 .resp-accordion.resp-tab-active small {
    color: #fff;
}
.chead-tabs-top04 .resp_margin {
    padding: 30px;
}
