<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>C-HEAD - Multipurpose HTML Template</title>
    <meta name="author" content="ChitrakootWeb">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />

    <!-- favicons -->
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">

    <!-- load google font -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,700,700i" rel="stylesheet">

    <!-- all stylesheets include start -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <!-- fontawesome css -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- ET Lineicon CSS -->
    <link rel="stylesheet" href="assets/css/lineicon.css">

    <!-- theme style css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- all stylesheets include end -->

    <!-- Color Scheme css -->
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-one.css" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-two.css" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-three.css" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-four.css" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-five.css" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-six.css" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-seven.css" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-eight.css" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-nine.css" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-ten.css" title="color-ten" media="screen" />

    <!-- jquery latest version -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>

    <!-- revolution slider js files start -->
    <script src="assets/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="assets/js/rev_slider/jquery.themepunch.revolution.min.js"></script>

    <script src="assets/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.video.min.js"></script>
    <!-- revolution slider js files end -->

</head>

<body>

    <section class="coming-soon-container">
        <!-- Start Count Down Section// Coming Soon Page -->
        <div class="coming-soon-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="coming-soon-logo text-center">
                            <a class="logo white-logo" href="javascript:void(0);"><span class="fa fa-angle-left"></span><span class="circle">C</span> <span class="name">HEAD</span><span class="fa fa-angle-right"></span></a>
                        </div>
                        <div class="coming-soon-desc">
                            <h3 class="mb10">Coming Soon</h3>
                            <p class="size-24 white uppercase">Wait Till We Get Our Coming soon On You.</p>
                        </div>

                        <div class="countdown-wrap pad100">
                            <ul class="countdown text-center">
                                <!-- days -->
                                <li><span class="days">00</span>
                                    <p class="timeRefDays text-center">days</p>
                                </li>
                                <!-- days end -->
                                <!-- hours -->
                                <li><span class="hours">00</span>
                                    <p class="timeRefHours" style="padding-left:15px;">hours</p>
                                </li>
                                <!-- hours end -->
                                <!-- minutes -->
                                <li><span class="minutes">00</span>
                                    <p class="timeRefMinutes">minutes</p>
                                </li>
                                <!-- minutes end -->
                                <!-- seconds -->
                                <li><span class="seconds">00</span>
                                    <p class="timeRefSeconds">seconds</p>
                                </li>
                            </ul>
                        </div>
                        <!--/#countdown-wrap-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-icon">
                            <ul class="icon">
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Count Down Section// Coming Soon Page -->

        <!-- Start  Copyright Section -->
        <div class="copyright-section coming-soon-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text text-center">
                            <p>&copy; 2018 C-HEAD is Powered by Chitrakoot Web</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Section -->

    </section>

    <!-- all js include start -->

    <!-- jquery latest version -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <!-- bootstrap latest version -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- revolution slider js files start -->
    <script src="assets/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="assets/js/rev_slider/jquery.themepunch.revolution.min.js"></script>

    <!-- revolution slider js files end -->

    <script src="assets/js/animation.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/jquery.isotope.min.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/jquery.easypiechart.js"></script>
    <script src="assets/js/jquery.mb.YTPlayer.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/jquery.fitvids.js"></script>
    <script src="assets/js/easyResponsiveTabs.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/stylesheetToggle.js"></script>
    <script src="assets/js/quietflow.min.js"></script>

    <!-- template main js file -->
    <script src="assets/js/main.js"></script>
    <!-- all js include end -->

    <script>
        $(".coming-soon-container").quietflow({
            theme: "starfield"
        })
    </script>

</body>

</html>