<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>C-HEAD - Responsive Multipurpose HTML Template</title>
    <meta name="author" content="ChitrakootWeb">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />

    <!-- favicons -->
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">

    <!-- load google font -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,700,700i" rel="stylesheet">

    <!-- all stylesheets include start -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- revolution slider css -->
    <link rel="stylesheet" href="assets/css/rev_slider/settings.css">
    <link rel="stylesheet" href="assets/css/rev_slider/layers.css">
    <link rel="stylesheet" href="assets/css/rev_slider/navigation.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- ET Lineicon CSS -->
    <link rel="stylesheet" href="assets/css/lineicon.css">
    <!-- Light Box CSS -->
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <link rel="stylesheet" href="assets/css/animations.css">

    <!-- Accordions CSS -->
    <link rel="stylesheet" href="assets/css/accordions.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">

    <!-- Tab and Accordian CSS -->
    <link rel="stylesheet" href="assets/css/tabs.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="assets/css/datepicker.css">

    <!-- xzoom CSS -->
    <link rel="stylesheet" href="assets/css/xzoom.css">
    <link type="text/css" rel="stylesheet" media="all" href="assets/css/jquery.fancybox.css" />

    <!-- theme style css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- onepage css -->
    <link rel="stylesheet" href="assets/css/onepage.css">
    <!-- all stylesheets include end -->

    <!-- Color Scheme css -->
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-one.css" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-two.css" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-three.css" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-four.css" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-five.css" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-six.css" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-seven.css" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-eight.css" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-nine.css" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="assets/css/switcher/color-ten.css" title="color-ten" media="screen" />

    <!-- jquery latest version -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>

    <!-- revolution slider js files start -->
    <script src="assets/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="assets/js/rev_slider/jquery.themepunch.revolution.min.js"></script>

    <script src="assets/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/js/rev_slider/extensions/revolution.extension.video.min.js"></script>
    <!-- revolution slider js files end -->

</head>

<body>

    <div class="loader"></div>

    <!-- header section -->
    <header id="onepage-header">
        <div class="header-content clearfix"> <a href="javascript:void(0);" class="logo white-logo mt5"><span class="fa fa-angle-left"></span><span class="circle">C</span> <span class="name">HEAD</span><span class="fa fa-angle-right"></span></a>
            <!-- navigation section  -->
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="#banner">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#serivces">Services</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#clients">Clients</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="index.html" class="theme-1 styleswitch" data-rel="color-one">Demos</a></li>
                </ul>
            </nav>
            <a href="javascript:void(0);" class="nav-toggle">Menu<span></span></a> </div>
        <!-- navigation section  -->
    </header>
    <!-- header section -->

    <!-- Start Banner Section-->
    <section id="banner" class="parallax pos-relative" style="background-image: url(assets/images/slideshow/slider-12.jpg);">
        <div class="container pos-relative">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner text-center large white">
                        <h1>C-HEAD Template<br><span class="theme-color">Perfect </span> for Startups </h1>

                        <a href="#about-section" class="btn btn-primary page-scroll">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-overlay light"></div>
    </section>
    <!-- End Banner Section-->

    <!-- About section -->
    <section id="about">
        <div class="container">
            <div class="row pad50">
                <div class="col-md-7 mb20 animatable bounceInLeft">

                    <img src="assets/images/blog/blog6.jpg" alt="">

                </div>
                <div class="col-md-5 mb30 animatable bounceInRight">
                    <div class="section-title left mb50">
                        <h3 class="size-34">About Company</h3>
                    </div>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut minim veniam</p>
                    <a href="javascript:void(0);" class="btn btn-primary mt20">Read More</a>
                </div>

            </div>
        </div>
    </section>
    <!-- About section -->

    <!-- Serivces section -->
    <section id="serivces" class="pad-b70 pad-t70 bg-gray-dark parallax pos-relative" style="background-image: url(assets/images/bg/bg6.jpg);">
        <div class="container pos-relative">
            <div class="row">
                <div class="section-title text-center">
                    <h3 class="white">Our Services</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 animatable fadeInDown">
                    <div class="feature-box-02 text-center">
                        <a href="javascript:void(0);">
                            <div class="pad-b20">
                                <i class="fa icon-telescope"></i>
                            </div>
                            <h4 class="pad-b10">Best Architecture</h4>
                            <p>Track on all of your daily Routine and make your day to day life easier and best.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animatable fadeInDown">
                    <div class="feature-box-02 text-center">
                        <a href="javascript:void(0);">
                            <div class="pad-b20">
                                <i class="fa  icon-globe"></i>
                            </div>
                            <h4 class="pad-b10">Eco Energy</h4>
                            <p>Track on all of your daily Routine and make your day to day life easier and best.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animatable fadeInDown">
                    <div class="feature-box-02 text-center">
                        <a href="javascript:void(0);">
                            <div class="pad-b20">
                                <i class="fa icon-paintbrush"></i>
                            </div>
                            <h4 class="pad-b10">Tiling & Painting</h4>
                            <p>Track on all of your daily Routine and make your day to day life easier and best.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animatable fadeInDown">
                    <div class="feature-box-02 text-center">
                        <a href="javascript:void(0);">
                            <div class="pad-b20">
                                <i class="fa icon-hotairballoon"></i>
                            </div>
                            <h4 class="pad-b10">Climate systems</h4>
                            <p>Track on all of your daily Routine and make your day to day life easier and best.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animatable fadeInDown">
                    <div class="feature-box-02 text-center">
                        <a href="javascript:void(0);">
                            <div class="pad-b20">
                                <i class="fa  icon-wallet"></i>
                            </div>
                            <h4 class="pad-b10">premimum support</h4>
                            <p>Track on all of your daily Routine and make your day to day life easier and best.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animatable fadeInDown">
                    <div class="feature-box-02 text-center">
                        <a href="javascript:void(0);">
                            <div class="pad-b20">
                                <i class="fa   icon-tools-2"></i>
                            </div>
                            <h4 class="pad-b10">Repair Service</h4>
                            <p>Track on all of your daily Routine and make your day to day life easier and best.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-overlay dark"></div>
    </section>
    <!-- Serivces section -->

    <!-- Work section-->
    <section id="work" class="pad-t100 pad-b70">
        <div class="container">
            <div class="row animatable fadeInDown">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Our Project</h3>
                    </div>
                </div>
            </div>
            <div class="row animatable fadeInDown">
                <div class="col-md-12">
                    <ul class="filter">
                        <li><a class="active" href="javascript:void(0);" data-filter="*">Show All</a></li>
                        <li><a href="javascript:void(0);" data-filter=".html" class="">HTML</a></li>
                        <li><a href="javascript:void(0);" data-filter=".wordpress" class="">WordPress</a></li>
                        <li><a href="javascript:void(0);" data-filter=".joomla" class="">Joomla</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-box">
                    <div class="col-md-4 col-sm-6 html">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/1.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/1.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Search Ideas</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wordpress">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/2.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/2.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Smart Phone</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 joomla">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/3.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/3.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Dream Coffee Shop</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 html wordpress">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/5_2.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/5_2.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Light Dream</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 html joomla">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/5.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/5.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Best Winner</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wordpress joomla">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/4.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/4.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Street Lamp</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wordpress joomla">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/8.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/8.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">clock Engine</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wordpress joomla">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/7.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/7.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Dream Door</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wordpress joomla">
                        <div class="portfolio-post-1 mb30">
                            <img src="assets/images/portfolio/masonry/9.jpg" alt="">
                            <div class="portfolio-details">
                                <div class="portfolio-icon">
                                    <a class="zoom" href="assets/images/portfolio/masonry/9.jpg" data-lightbox="portfolio-1"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <div class="portfolio-title">
                                    <h4 class="mb10">Click Images</h4>
                                    <p>Digital Agency</p>
                                </div>
                                <div class="portfolio-post-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pad-t80 pad-b30 parallax pos-relative animatable fadeInUp" style="background-image: url(assets/images/bg/bg2.jpg); background-position: 50% 40px;">
        <div class="container pos-relative">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb50 pad-b10">
                    <div class="animated-counter text-center white">
                        <div class="animated-icon"><span class="icon-profile-male"></span></div>
                        <div class="animated-number" data-from="0" data-to="125">125</div>
                        <h4>Projects Completed</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb50 pad-b10">
                    <div class="animated-counter text-center white">
                        <div class="animated-icon"><span class="icon-happy"></span></div>
                        <div class="animated-number" data-from="0" data-to="1200">1200</div>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb50 pad-b10">
                    <div class="animated-counter text-center white">
                        <div class="animated-icon"><span class="icon-trophy"></span></div>
                        <div class="animated-number" data-from="0" data-to="1600">1600</div>
                        <h4>Awards Wining</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb50 pad-b10">
                    <div class="animated-counter text-center white">
                        <div class="animated-icon"><span class="icon-genius"></span></div>
                        <div class="animated-number" data-from="0" data-to="543">543</div>
                        <h4>Consultation</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-overlay dark"></div>
    </section>
    <!-- Work section -->

    <!--Team section -->
    <section id="team" class="pad-b70 pad-t70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center animatable fadeInDown">
                        <h3>Our Team</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="team-style-1 mb30">
                        <div class="team-member-img animatable fadeInDown">
                            <img class="img-responsive" src="assets/images/team/team1.jpg" alt="">
                        </div>
                        <div class="team-info mb20 animatable fadeInDown">
                            <div class="team-name">Jonson Doe</div>
                            <div class="size-14">Founder & CEO</div>
                        </div>
                        <div class="social-icon animatable fadeInDown">
                            <ul class="icon">
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-style-1 mb30">
                        <div class="team-member-img animatable fadeInDown">
                            <img class="img-responsive" src="assets/images/team/team2.jpg" alt="">
                        </div>
                        <div class="team-info mb20 animatable fadeInDown">
                            <div class="team-name">LONNIE SALTERS</div>
                            <div class="size-14">Co-Founder & Developer</div>
                        </div>
                        <div class="social-icon animatable fadeInDown">
                            <ul class="icon">
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-style-1 mb30">
                        <div class="team-member-img animatable fadeInDown">
                            <img class="img-responsive" src="assets/images/team/team3.jpg" alt="">
                        </div>
                        <div class="team-info mb20 animatable fadeInDown">
                            <div class="team-name">ROBERT HENSON</div>
                            <div class="size-14">App Developer</div>
                        </div>
                        <div class="social-icon animatable fadeInDown">
                            <ul class="icon">
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team section -->

    <!-- Start Testimonial Section -->
    <section id="clients" class="pad100 parallax pos-relative animatable fadeInDown" style="background-image: url(assets/images/bg/bg1.jpg);">
        <div class="container pos-relative">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center white">
                        <h3>What Our Patients Says</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-carousel">
                        <div class="testimonial-item text-center white animatable fadeInDown">
                            <img src="assets/images/testimonials/1.jpg" alt="" class="img-circle">
                            <p><span class="fa fa-quote-left mr10 size-20 v-top"></span> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <span class="fa fa-quote-right ml10 size-20 v-bottom"></span></p>
                            <div class="client">Morton Schilke </div>
                            <div class="separator"></div>
                        </div>
                        <div class="testimonial-item text-center white animatable fadeInDown">
                            <img src="assets/images/testimonials/3.jpg" alt="" class="img-circle">
                            <p><span class="fa fa-quote-left mr10 size-20 v-top"></span> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span class="fa fa-quote-right ml10 size-20 v-bottom"></span></p>
                            <div class="client">Dannie Strawbridge</div>
                            <div class="separator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-overlay"></div>
    </section>
    <!-- End Testimonial Section -->

    <!--Blog section -->
    <section id="blog" class="pad-t70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center animatable fadeInDown">
                        <h3>From Our Blog</h3>
                    </div>
                </div>
            </div>
            <div class="row owl-scroll">
                <div class="col-md-12 animatable fadeInDown">
                    <div class="news-pic">
                        <img src="assets/images/blog/blog1.jpg" class="img-responsive" alt="blog-post">
                        <div><span>SEP</span><span>03</span></div>
                    </div>
                    <div class="bg-gray-light padding-four mb20 bordered">
                        <h4 class="mb5 size-14"><a href="javascript:void(0);">Passion for Promise</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit.</p>
                        <a href="javascript:void(0);" class="btn btn-primary">read more</a>
                    </div>
                </div>
                <div class="col-md-12 animatable fadeInDown">
                    <div class="news-pic">
                        <img src="assets/images/blog/blog2.jpg" class="img-responsive" alt="blog-post">
                        <div><span>SEP</span><span>03</span></div>
                    </div>
                    <div class="bg-gray-light padding-four mb20 bordered">
                        <h4 class="mb5 size-14"><a href="javascript:void(0);">Let's talk about  every move count.</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit.</p>
                        <a href="javascript:void(0);" class="btn btn-primary">read more</a>
                    </div>
                </div>
                <div class="col-md-12 animatable fadeInDown">
                    <div class="latest-news">
                        <div class="news-pic">
                            <img src="assets/images/blog/blog3.jpg" class="img-responsive" alt="blog-post">
                            <div><span>SEP</span><span>03</span></div>
                        </div>
                        <div class="bg-gray-light padding-four mb20 bordered">
                            <h4 class="mb5 size-14"><a href="javascript:void(0);">Special reportage</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit.</p>
                            <a href="javascript:void(0);" class="btn btn-primary">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 animatable fadeInDown">
                    <div class="news-pic">
                        <img src="assets/images/blog/blog4.jpg" class="img-responsive" alt="blog-post">
                        <div><span>SEP</span><span>03</span></div>
                    </div>
                    <div class="bg-gray-light padding-four mb20 bordered">
                        <h4 class="mb5 size-14"><a href="javascript:void(0);">Made by Investment</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit.</p>
                        <a href="javascript:void(0);" class="btn btn-primary">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog section -->

    <!-- Start Pricing  Section -->
    <section class="pad-t100 pad-b70i">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center animatable fadeInDown">
                        <h3>Pricing table</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-box mb30 hover">
                        <div class="pricing-header animatable fadeInDown">
                            <h4 class="pad-b20 theme-color">Basic Plan</h4>
                            <div class="separator mb30"></div>
                            <div class="pricing-price">
                                <span class="theme-color">$</span>50
                            </div>
                        </div>
                        <div class="pricing-feature animatable fadeInDown">
                            <ul>
                                <li>1 User</li>
                                <li>1 Website</li>
                                <li>1 Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="pricing-footer animatable fadeInDown">
                            <a href="javascript:void(0);" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box hover">
                        <div class="pricing-header animatable fadeInDown">
                            <h4 class="pad-b20 theme-color">Business</h4>
                            <div class="separator mb30"></div>
                            <div class="pricing-price">
                                <span>$</span>150
                            </div>
                        </div>
                        <div class="pricing-feature animatable fadeInDown">
                            <ul>
                                <li>3 User</li>
                                <li>5 Website</li>
                                <li>5 Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="pricing-footer animatable fadeInDown">
                            <a href="javascript:void(0);" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box mb30 hover">
                        <div class="pricing-header animatable fadeInDown">
                            <h4 class="pad-b20 theme-color">Professional</h4>
                            <div class="separator mb30"></div>
                            <div class="pricing-price">
                                <span class="theme-color">$</span>250
                            </div>
                        </div>
                        <div class="pricing-feature animatable fadeInDown">
                            <ul>
                                <li>10 User</li>
                                <li>Unlimited Website</li>
                                <li>Unlimited Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="pricing-footer animatable fadeInDown">
                            <a href="javascript:void(0);" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing Section -->

    <!--Contact section -->
    <section id="contact" class="pad100 pad-b40">
        <div class="container">
            <div class="row">
                <div class="section-title text-center animatable fadeInDown">
                    <h3>Contact us</h3>
                </div>
            </div>
            <div class="row med-container">
                <div class="col-md-4 text-center pad-b40">
                    <div class="media">
                        <div class="media-body animatable fadeInDown">
                            <i class="fa fa-map-marker size-34 pad-b15 theme-color"></i>
                            <h4 class="mb5">Address</h4>
                            <div class="feature-text">
                                <p>Metsarentsi Str,
                                    <br/>Yerevan-374</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center pad-b40">
                    <div class="media">
                        <div class="media-body animatable fadeInDown">
                            <i class="fa fa-envelope size-34 pad-b15 theme-color"></i>
                            <h4 class="mb5">E-mail</h4>
                            <div class="feature-text">
                                <p>contact@example.com
                                    <br/>mail@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center pad-b40">
                    <div class="media">

                        <div class="media-body animatable fadeInDown ">
                            <i class="fa fa-phone size-34 pad-b15 theme-color"></i>
                            <h4 class="mb5">Phone</h4>
                            <div class="feature-text">
                                <p> +123 456 7890
                                    <br/> +231 456 7890</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="alert-success mb15 padding-two" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group animatable fadeInDown">
                                        <input id="form_name" type="text" name="name" class="form-control" maxlength="50" placeholder="Name *" required="required" data-error="Name is required.">
                                    </div>
                                    <div class="form-group animatable fadeInDown">
                                        <input id="form_email" type="email" name="email" maxlength="70" class="form-control" placeholder="Email *" required="required" data-error="Valid email is required.">
                                    </div>
                                    <div class="form-group animatable fadeInDown">
                                        <input id="form_phone" type="tel" name="phone" maxlength="10" class="form-control" placeholder="Phone">
                                    </div>
                                    <div class="form-group animatable fadeInDown">
                                        <input id="form_subject" type="text" name="subject" maxlength="78" class="form-control" placeholder="Subject *" required="required" data-error="Subject is required.">
                                    </div>
                                    <div class="form-group animatable fadeInDown">
                                        <textarea id="form_message" name="message" class="form-control" maxlength="1000" placeholder="Message *" required="required" data-error="Please,leave us a message." style="min-height: 175px;"></textarea>
                                    </div>
                                    <input type="submit" class="btn btn-primary mb30" value="Send message">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 animatable fadeInDown">
                                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- Start Map Section -->
                <div class="col-md-6 animatable fadeInDown">
                    <div id="map" style="height:410px;"></div>
                </div>
                <!-- End Map Section -->
            </div>
        </div>
    </section>
    <!--Contact section -->

    <!-- footer section-->
    <footer class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text text-center">
                        <p>&copy; 2018 C-HEAD is Powered by Chitrakoot Web</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section-->

    <div id="back-to-top" class="back-to-top reveal">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- Start Switcher Section -->
    <div class="switcher">
        <a href="javascript:void(0);" class="open-switcher show-switcher"><i class="fa fa-cog fa-spin fa-2x"></i></a>
        <h4>Style Switcher</h4>
        <span>Choose Theme Color:</span>

        <!-- Color Switcher -->
        <ul class="switcher-color">
            <li>
                <a href="javascript:void(0);" class="color-1 styleswitch" data-rel="color-one"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-2 styleswitch" data-rel="color-two"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-3 styleswitch" data-rel="color-three"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-4 styleswitch" data-rel="color-four"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-5 styleswitch" data-rel="color-five"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-6 styleswitch" data-rel="color-six"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-7 styleswitch" data-rel="color-seven"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-8 styleswitch" data-rel="color-eight"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-9 styleswitch" data-rel="color-nine"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="color-10 styleswitch" data-rel="color-ten"></a>
            </li>
        </ul>
        <!-- Color Switcher end -->

        <span>Layout Style</span>
        <select id="layout-style" class="layout-style">
            <option value="1">Wide</option>
            <option value="2">Boxed</option>
        </select>
        <span>Patterns for Boxed Version</span>
        <ul class="bg-list">
            <li>
                <a href="javascript:void(0);" class="bg1"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg2"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg3"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg4"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg5"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg6"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg7"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg8"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg9"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg10"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg11"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg12"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg13"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bg14"></a>
            </li>
        </ul>
        <a href="/chead-theme" class="btn btn-primary mb20">View all Demos</a>
    </div>
    <!-- End Switcher Section -->

    <!-- all js include start -->

    <!-- bootstrap latest version -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Other jQuery library -->
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/jquery.isotope.min.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/jquery.easypiechart.js"></script>
    <script src="assets/js/jquery.mb.YTPlayer.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/jquery.fitvids.js"></script>
    <script src="assets/js/easyResponsiveTabs.js"></script>
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/stylesheetToggle.js"></script>
    <script src="assets/js/xzoom.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/setup.js"></script>
    <script src="assets/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIy8l8gSJaMoUvCZJv8AyCAw3CU07nCKs&amp;callback=initMap"></script>

    <!-- template main js file -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/onepage.js"></script>
    <!-- all js include end -->

    <script>
        $(document).ready(function() {
            //contact form
            var form = $('.contact-form');
            form.submit(function() {
                $this = $(this);
                $.post($(this).attr('action'), $('.contact-form').serialize(), function(data) {
                    $this.prev().text(data.message).fadeIn().delay(3000).fadeOut();
                }, 'json');
                return false;
            });

        });
    </script>

</body>

</html>