<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>C-HEAD - Responsive Multipurpose HTML Template</title>
    <meta name="author" content="ChitrakootWeb">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />

    <!-- favicons -->
    <link rel="shortcut icon" href="html/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="html/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="html/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="html/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="html/assets/favicon/apple-icon-144x144.png">

    <!-- load google font -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,700,700i" rel="stylesheet">

    <!-- all stylesheets include start -->

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="html/assets/bootstrap/css/bootstrap.min.css">

    <!-- fontawesome css -->
    <link rel="stylesheet" href="html/assets/css/font-awesome.min.css">

    <!-- ET Lineicon CSS -->
    <link rel="stylesheet" href="html/assets/css/lineicon.css">

    <!-- Light Box CSS -->
    <link rel="stylesheet" href="html/assets/css/animations.css">

    <!-- theme style css -->
    <link rel="stylesheet" href="html/assets/css/style.css">

    <!-- responsive css -->
    <link rel="stylesheet" href="html/assets/css/responsive.css">
    <!-- all stylesheets include end -->

    <!-- Color Scheme css -->
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-one.css" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-two.css" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-three.css" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-four.css" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-five.css" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-six.css" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-seven.css" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-eight.css" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-nine.css" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="html/assets/css/switcher/color-ten.css" title="color-ten" media="screen" />

</head>

<body>

    <div id="container">

        <!-- Start Header & Navigation Section -->
        <header class="clearfix" id="header">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html"><span class="fa fa-angle-left"></span><span class="circle">C</span> <span class="name">HEAD</span><span class="fa fa-angle-right"></span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:void(0);" class="feature-index">Features</a></li>
                            <li><a href="javascript:void(0);" class="shortcode-index">Shortcode</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End Header -->
        <!-- End Header & Navigation Section -->

        <div class="bg-gray-light pad100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <h1 class="mb15 size-60 fontbold">C-HEAD</h1>
                            <h3 class="mb15">Responsive Multipurpose HTML Template</h3>
                            <h5 class="mb30">Best For Your Organization</h5>
                            <p class="mb30"><span class="mr-10">75+ HTML Page</span><i class="fa fa-plus theme-color mr-10 size-14"></i><span class="mr-10">40+ Shortcode</span><i class="fa fa-plus theme-color mr-10 size-14"></i><span class="mr-10">Mega Menu</span><i class="fa fa-plus theme-color mr-10 size-14"></i><span>Fully Responsive</span></p>
                            <a href="javascript:void(0);" class="btn btn-primary feature-index">features</a>
                            <a href="javascript:void(0);" class="btn btn-secondary view-demos">view all demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start All Demos Section -->
        <section class="pad80 pad-b60 all-demos">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center fadeInDown animated">
                        <h2 class="fontbold">Choose Your Demo</h2>
                        <div class="separator mb50"></div>
                        <ul class="theme-links">
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-one" class="theme-1 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-01.jpg" alt="" /></div>
                                    <h5>Homepage Main Demo</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-two" class="theme-2 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-02.jpg" alt="" /></div>
                                    <h5>Construction</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-three" class="theme-3 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-03.jpg" alt="" /></div>
                                    <h5>Medical</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-four" class="theme-4 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-04.jpg" alt="" /></div>
                                    <h5>Interior</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-five" class="theme-5 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-05.jpg" alt="" /></div>
                                    <h5>Travel</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-six" class="theme-6 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-06.jpg" alt="" /></div>
                                    <h5>Shop</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="javascript:void(0);" data-rel="color-seven" class="theme-7 styleswitch">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/index-07.jpg" alt="" /></div>
                                    <h5>One Page</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 mb30 fadeInDown animated">
                                <a href="html/coming-soon.html">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/count-down.jpg" alt="" /></div>
                                    <h5>Coming Soon</h5></a>
                            </li>
                            <li class="col-md-4 col-sm-6 fadeInDown animated">
                                <a href="javascript:void(0);">
                                    <div class="demo-pic mb20"><img src="html/assets/images/preview/more-demos.jpg" alt="" /></div>
                                    <h5> More demos! coming soon</h5></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Demos Section -->

        <!-- Start Shortcode Section -->
        <section class="pad60 bg-gray-dark shortcode-section">
            <div class="container">
                <div class="row">
                    <div class="section-title text-center mb50">
                        <h2 class="white">SHORTCODES</h2>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="shortcode-list col-xs-12">
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/alert.html">alert</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/accordion.html">Accordion</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/audio-video.html">Audio &amp; Video</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/animated-counter.html">Animated Counter</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/blockquote.html">Block Quote</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/blog-content.html">Blog Content</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/bootstrap-grid.html">Bootstrap Grid</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/slider-bootstrap.html">Carousel</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/call-to-action.html">Call to Action</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/client.html">Clients</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/divider.html">Divider</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/dropcap.html">Dropcap</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/error-404.html">Error</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/faq.html">F.A.Q</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/feature-page.html"> Feature Box</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/page-title.html">Page Title</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/piechart.html">Pie Chart</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/popup.html">Pop Up</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/progress-bar.html">Progress Bar</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/pricing-table.html">Pricing Table</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/tab.html">Tab</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/team.html">Team</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/banner-video-bg.html">Video Background</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/testimonial.html">Testimonial</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/typography.html">Typography</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-1.html">Header Style 1</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-2.html">Header Style 2</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-3.html">Header Style 3</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-4.html">Header Style 4</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-5.html">Header Style 5</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-6.html">Header Style 6</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-7.html">Header Style 7</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/header-8.html">Header Style 8</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/slider-revolution-1.html">Slider Style 1</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/slider-revolution-2.html">Slider Style 2</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/slider-revolution-3.html">Slider Style 3</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/banner-1.html">Banner Style 1</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/banner-2.html">Banner Style 2</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/banner-3.html">Banner Style 3</a></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 animatable bounceIn"><a href="html/coming-soon.html">Coming Soon</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Shortcode Section -->

        <!-- Start Feature Section -->
        <section class="pad60 feature-section">
            <div class="container">
                <div class="row">
                    <div class="section-title text-center mb50">
                        <h2>C-HEAD Theme Features</h2>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 animatable fadeInDown">
                        <div class="feature-box-02 bg-gray-dark text-center min-height-md-250">
                            <div class="pad-b20">
                                <i class="fa icon-picture"></i>
                            </div>
                            <h4 class="pad-b10">Revolution Slider</h4>
                            <p>This special plugin will surely become your best in the process of delivering ideas through the imagination.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animatable fadeInDown">
                        <div class="feature-box-02 bg-gray-dark text-center min-height-md-250">
                            <div class="pad-b20">
                                <i class="fa icon-briefcase"></i>
                            </div>
                            <h4 class="pad-b10">16 Portfolio Styles</h4>
                            <p>The best creative, clean and modern portfolio pages design. There are multiple pages design available.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animatable fadeInDown">
                        <div class="feature-box-02 bg-gray-dark text-center min-height-md-250">
                            <div class="pad-b20">
                                <i class="fa icon-newspaper"></i>
                            </div>
                            <h4 class="pad-b10">08 Blog Styles</h4>
                            <p>C-HEAD theme have more than 08 blog variation layouts available. They have different columns and settings available.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animatable fadeInDown">
                        <div class="feature-box-02 bg-gray-dark text-center min-height-md-250">
                            <div class="pad-b20">
                                <i class="fa icon-video"></i>
                            </div>
                            <h4 class="pad-b10">Video Backgrounds</h4>
                            <p>Video background with different style text. You can use that video banner as well and easy to use.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animatable fadeInDown">
                        <div class="feature-box-02 bg-gray-dark text-center min-height-md-250">
                            <div class="pad-b20">
                                <i class="fa icon-layers"></i>
                            </div>
                            <h4 class="pad-b10">Parallax &amp; Full Screen Sections</h4>
                            <p>The smartest and most flexible parallax effect provide by C-HEAD theme. It is also provided a full width section.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animatable fadeInDown">
                        <div class="feature-box-02 bg-gray-dark text-center min-height-md-250">
                            <div class="pad-b20">
                                <i class="fa fa-header size-14"></i>
                            </div>
                            <h4 class="pad-b10">08 Header Styles</h4>
                            <p>Different style of header design available. You can more option to choose your style for your theme integration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <ul class="feature-list">
                            <li class="fadeInDown animated">07 Home Demos</li>
                            <li class="fadeInDown animated">08 Header Styles</li>
                            <li class="fadeInDown animated">Revolution Slider</li>
                            <li class="fadeInDown animated">Mega Menu</li>
                            <li class="fadeInDown animated">Black &amp; White Hover Effects</li>
                            <li class="fadeInDown animated">Developer Friendly</li>
                            <li class="fadeInDown animated">Seo friendly Clean Code</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <ul class="feature-list">
                            <li class="fadeInDown animated">Full &amp; Boxed Layout</li>
                            <li class="fadeInDown animated">CSS Animations</li>
                            <li class="fadeInDown animated">Shortcode Ready</li>
                            <li class="fadeInDown animated">Creative and Modern Flat Design</li>
                            <li class="fadeInDown animated">Built Based on bootstrap v3.x</li>
                            <li class="fadeInDown animated">Cross Browser Compatibility</li>
                            <li class="fadeInDown animated">Well Documented</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <ul class="feature-list">
                            <li class="fadeInDown animated">Color Scheme Options</li>
                            <li class="fadeInDown animated">Working Contact Forms</li>
                            <li class="fadeInDown animated">Full Screen Sections</li>
                            <li class="fadeInDown animated">Google Fonts</li>
                            <li class="fadeInDown animated">Fully Responsive</li>
                            <li class="fadeInDown animated">Font Icons</li>
                            <li class="fadeInDown animated">Neat, Clean and Simple Design</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feature Section -->

        <!-- Start Copyright Section -->
        <div class="copyright-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text text-center">
                            <p>&copy; 2018 C-HEAD is Powered by Chitrakoot Web</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Section -->

        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top reveal">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End to top -->

        <script src="html/assets/js/jquery-3.1.1.min.js"></script>
        <script src="html/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="html/assets/js/animation.js"></script>
        <script src="html/assets/js/stylesheetToggle.js"></script>

        <script>
            jQuery(document).ready(function() {
                jQuery('.theme-1').click(function() {
                    window.open('html/index.html', '_parent');
                });
                jQuery('.theme-2').click(function() {
                    window.open('html/home-construction.html', '_parent');
                });
                jQuery('.theme-3').click(function() {
                    window.open('html/home-medical.html', '_parent');
                });
                jQuery('.theme-4').click(function() {
                    window.open('html/home-interior.html', '_parent');
                });
                jQuery('.theme-5').click(function() {
                    window.open('html/home-travel.html', '_parent');
                });
                jQuery('.theme-6').click(function() {
                    window.open('html/home-shop.html', '_parent');
                });
                jQuery('.theme-7').click(function() {
                    window.open('html/onepage.html', '_parent');
                });
            });
        </script>

        <script>
            // Start Back to Top
            $('#back-to-top').on('click', function() {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
            $(".feature-index").click(function() {
                $('html, body').animate({
                    scrollTop: $(".feature-section").offset().top
                }, 2000);
            });
            $(".shortcode-index").click(function() {
                $('html, body').animate({
                    scrollTop: $(".shortcode-section").offset().top
                }, 2000);
            });
            $(".view-demos").click(function() {
                $('html, body').animate({
                    scrollTop: $(".all-demos").offset().top
                }, 2000);
            });
        </script>
    </div>
</body>

</html>